body {
    background-color: #111111;
    font-family: "Montserrat", Arial;
    color: #fff;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;

}



h1 {

    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFE400;
}

a {
    color: #fff;

}

#top {
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: end;


}

span {
    padding-right: 35px;
}

section {
    text-align: center;
}

button {
    font-weight: 600;
    background-color: #FFE400;
    color: #111;
    padding: 10px 45px;
    transition: all .2s ease 0s;
    border-radius: 30px;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 40px 10px;

}

input {
    padding: 10px 450px;
}

p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
}

footer {
    text-align: center;
}

.bottom {
    margin: 40px 10px;
}

.btm {
    max-width: 800px;
    text-align: center;
    margin: 0 auto 20px;
    line-height: 1.6em;
    font-size: 12px;
    opacity: .4;
}

#in {
    height: 80px;
    width: auto;
}

#tp {
    height: 70%;
    width: auto;

    padding-right: 850px;
}

section {
    margin-top: 90px;
}